In [0]:
%python
from pyspark.sql.functions import col, lit, rand, round
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, DateType
from datetime import date, timedelta

# Define schema
schema = StructType([
    StructField("city", StringType(), True),
    StructField("date", DateType(), True),
    StructField("temperature", DoubleType(), True),
    StructField("humidity", DoubleType(), True),
    StructField("wind_speed", DoubleType(), True)
])

# List of cities
cities = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]

# Generate date range
start_date = date(2025, 7, 4)
date_range = [start_date + timedelta(days=x) for x in range(30)]

# Create initial DataFrame
data = [(city, d, None, None, None) for city in cities for d in date_range]
df = spark.createDataFrame(data, schema)

# Add random weather data
df = df.withColumn("temperature", round((rand() * 40) - 10, 2)) \
       .withColumn("humidity", round(rand() * 100, 2)) \
       .withColumn("wind_speed", round(rand() * 15, 2))

df_top5 = df.limit(5)
display(df_top5)
# Create database
spark.sql("CREATE DATABASE IF NOT EXISTS weatherdata")

# Write DataFrame to table in the specified catalog and database
df.write.mode("overwrite").saveAsTable("Analytics1.weatherdata.weather_history")

# Grant access to 'developers' group
# spark.sql("GRANT ALL PRIVILEGES ON DATABASE weatherdata TO `developers`")
# spark.sql("GRANT ALL PRIVILEGES ON TABLE weatherdata.weather_history TO `developers`")

In [0]:
SHOW GRANTS ON SCHEMA analytics1.weatherdata;

In [0]:
  GRANT CREATE TABLE ON SCHEMA analytics1.weatherdata TO `developers`;
  GRANT USE SCHEMA ON SCHEMA analytics1.weatherdata TO `developers`;
  GRANT USE CATALOG ON CATALOG analytics1 TO `developers`;